[Si]
non_linear = False
conductivity (w/(m-k)) = 150
t_0 = 300 K
alpha = 1.5

# Then the ambient temperature of the system, 
# and the initial temperature for iterative solution
[Temperature]
ambient = 313.15 K
init = 340 K


# Package information, including the effective heat transfer coefficient,
# equivalent air thickness, conductivity, and local resolution size

[NoPackage]
htc = 1e5
thickness (m) = 1e-7
conductivity (w/(m-k)) = 400
clip_num_x = 4
clip_num_y = 4
clip_num_z = 1


# Leakage power information, P_leak(T) = P_leak(T_base)*exp((T-T_base)*beta)
# beta == 0 represent the constant leakage case

[Leakage]
t_base = 358.15 K
beta = 0.0 1/K

