[TSV]
# If there is no TSV, just set the tsv_path to be None
# TSVs are inserted from the bottom surface of the BotLayer,
# To the top surface of the TopLayer!
tsv_path = None
# Shape can be cylinder or cuboid
tsv_shape = cylinder

[Solver]
number_of_core = 40
processes = 40
iter_num = 1

[Grid]
granularity = 1
rows = 32
cols = 32
depth = 1
grid_mode = max

# Below is for information only: It's hard coded in the tool
[NoPackage]
library_name = NoPackage_sec
library = Solid.py

[NoPackage_sec]
properties = htc, thickness (m), conductivity (w/(m-k))

[Si]
library_name = Solid
library = Solid.py

[Diel]
library_name = Solid
library = Solid.py

[Metal]
library_name = Solid
library = Solid.py

[Metal7_8]
library_name = Solid
library = Solid.py

[Solid]
properties = conductivity (w/(m-k)), non_linear
